name: continous-deployment

# Always run CI, CD conditional on main branch
on: [push, pull_request]

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Resolve external dependencies
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Use Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '10.x'
      # Run CI (build & test)
      - name: Test Rust code
        run: cargo test
      - name: Build wasm
        run: wasm-pack build --release --no-typescript --target web
      - name: Test wasm (Chrome)
        run: wasm-pack test --headless --chrome
      - name: Test wasm (Firefox)
        run: wasm-pack test --headless --firefox
      # Deploy (main branch only)
      - name: Deploy to GitHub Pages
        if: job.status == 'success' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.0.0
        with:
          branch: gh-pages
          folder: .
          clean-exclude:
            pkg
            index.html
